#root {
  background-color: rgb(251, 251, 251);
  height: 100%;
}

.title {
  font-family: monospace;
  color: rgb(84, 105, 131);
  width: 100vw;
  font-size: 2vw;

  text-align: center;
  border-radius: 3px;
}

.every {
  height: 30vh;
  margin-top: -15px
}

.every > * {
  padding: 2px;
  margin:auto;
  display: block;
  width: 60vw;
}

.every > label {
  color: rgb(37, 52, 70);
  font-family: monospace;
  font-size: 1.2vw;
  text-align: center;
  background-color: rgb(251, 251, 251);
  width: 40vw;
  border-radius: 15px;
}

.every > input {
  color: rgb(37, 52, 70);
  font-family: monospace;
  font-size: 1.5vw;
  border: 1px rgb(37, 52, 70);
  text-align: center;
  width: 60vw;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
}

.every > input:hover {
  cursor: text;
}

.every > select {
  color: cadetblue;
  font-family: monospace;
  font-size: 1.5vw;
  border: 1px cadetblue;
  text-align: center;
  width: 60vw;
  border-radius: 5px;
}

.every > select:hover {
  cursor: pointer;
}

#ok {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5cwpx;
  color: #ffffff;
  background-color: #7bb3cf;
  border-radius: 6px;
  border: 1px cadetblue;
  width: 20vw;
  margin-top: 5px;
}

#ok:hover {
  color: #18323f;
  background-color: cadetblue;
  cursor: pointer;
}

.turno {
  font-family: monospace;
  color: rgb(63, 112, 202);
  width: 30vw;
  left: 35vw;
  background-color: rgb(236, 236, 236);
  font-size: .8vw;
  display: block;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 39vh;
  padding: 0;
  border-radius: 10px;
}

.error {
  font-family: monospace;
  color: rgb(247, 68, 104);
  width: 60%;
  font-size: 1.8vw;
  margin: 1rem auto;
  display: block;
  text-align: center;
  border-radius: 3px;
  z-index: 25;
  
}

.mensaje {
  font-family: monospace;
  color: rgb(62, 112, 206);
  width: 30vw;
  left: 35vw;
  background-color: rgb(236, 236, 236);
  font-size: 1vw;
  display: block;
  text-align: center;
  border-radius: 3px;
  z-index: 25;
  position: absolute;
  top: 46vh;
  padding: 0;
  border-radius: 10px;
}

#version {
  position: absolute;
  color: #18323f;
  font-size: 1.2vw;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 20;
}

.calendar {
  background: rgb(236, 236, 236);
  width: 60%;
  max-width: 600px;
  margin: 1em auto;
  padding: 0.5em 0;
  margin-top: 20vh;
}

.calendar__info {
  display: flex;
  align-items: center;
  padding: 0 2em;
  font-size: 1em;
  text-transform: uppercase;
}

.calendar__prev,
.calendar__next {
  color: #c7f464;
  cursor: pointer;
  font-size: 1.3em;
}

.calendar__prev {
  margin-right: auto;
}
.calendar__next {
  margin-left: auto;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar__month,
.calendar__year {
  padding: 0.5em 1em;
}

.calendar__item {
  text-align: center;
  line-height: 2;
  font-size: 13px;
}

.calendar__manana {
  background: lightcoral;
  color: white;
  width: 50%;
  border-radius: 50%;
  margin: auto;
}

.calendar__noche {
  background: green;
  color: white;
  width: 50%;
  border-radius: 50%;
  margin: auto;
}

.calendar__mixto {
  background: yellow;
  color: white;
  width: 50%;
  border-radius: 50%;
  margin: auto;
}

.calendar__last-days {
  opacity: 0.3;
}
